@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "Accent Graphic";
    font-weight: 300;
    src: url('~/assets/fonts/AccenGraLig.otf');
  }

  @font-face {
    font-family: "Accent Graphic";
    font-weight: 500;
    src: url('~/assets/fonts/AccenGraMed.otf');
  }

  @font-face {
    font-family: "Accent Graphic";
    font-weight: 700;
    src: url('~/assets/fonts/AccenGraBol.otf');
  }

  @font-face {
      font-family: "Gotham";
      font-weight: 300;
      src: url('~/assets/fonts/Gotham-Light.otf');
    }

  @font-face {
    font-family: "Gotham";
    font-weight: 500;
    src: url('~/assets/fonts/Gotham-Medium.otf');
  }

  @font-face {
      font-family: "Gotham";
      font-weight: 700;
      src: url('~/assets/fonts/Gotham-Bold.otf');
    }


  body {
    font-family: 'Gotham';
    @apply bg-beige text-marcie;
  }

  h2 {
    @apply mb-2 mt-4 font-bold;

  }

  p {
    @apply mb-2;
  }

  address {
    @apply not-italic block;
  }

  .fade-enter-active{
    @apply transition-all ease-in duration-300;
  }

  .fade-leave-active {
    @apply transition-all ease-in duration-0;
  }

  .fade-enter-to, .fade-leave {
    @apply opacity-100;
  }

  .fade-enter-from, .fade-leave-to {
    @apply opacity-0;
  }

}