@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "Accent Graphic";
    font-weight: 300;
    src: url("//db.onlinewebfonts.com/t/c90524dd000fae4fafbd8f791869cfe1.eot");
    src: url("//db.onlinewebfonts.com/t/c90524dd000fae4fafbd8f791869cfe1.eot?#iefix")
      format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c90524dd000fae4fafbd8f791869cfe1.woff2")
      format("woff2"), url("//db.onlinewebfonts.com/t/c90524dd000fae4fafbd8f791869cfe1.woff")
      format("woff"), url("//db.onlinewebfonts.com/t/c90524dd000fae4fafbd8f791869cfe1.ttf")
      format("truetype"), url("//db.onlinewebfonts.com/t/c90524dd000fae4fafbd8f791869cfe1.svg#Accent Graphic")
      format("svg");
  }

  @font-face {
    font-family: "Accent Graphic";
    font-weight: 500;
    src: url("//db.onlinewebfonts.com/t/89a943d87a9f3ee2342f75b39d3de405.eot");
    src: url("//db.onlinewebfonts.com/t/89a943d87a9f3ee2342f75b39d3de405.eot?#iefix")
      format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/89a943d87a9f3ee2342f75b39d3de405.woff2")
      format("woff2"), url("//db.onlinewebfonts.com/t/89a943d87a9f3ee2342f75b39d3de405.woff")
      format("woff"),
      url("//db.onlinewebfonts.com/t/89a943d87a9f3ee2342f75b39d3de405.ttf")
      format("truetype"),
      url("//db.onlinewebfonts.com/t/89a943d87a9f3ee2342f75b39d3de405.svg#Accent Graphic")
      format("svg");
  }

  @font-face {
    font-family: "Accent Graphic";
    font-weight: 700;
    src: url("//db.onlinewebfonts.com/t/e1e8eb10aa15667715f7f8e0277f6ee5.eot");
    src: url("//db.onlinewebfonts.com/t/e1e8eb10aa15667715f7f8e0277f6ee5.eot?#iefix")
      format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e1e8eb10aa15667715f7f8e0277f6ee5.woff2")
      format("woff2"), url("//db.onlinewebfonts.com/t/e1e8eb10aa15667715f7f8e0277f6ee5.woff")
      format("woff"), url("//db.onlinewebfonts.com/t/e1e8eb10aa15667715f7f8e0277f6ee5.ttf")
      format("truetype"), url("//db.onlinewebfonts.com/t/e1e8eb10aa15667715f7f8e0277f6ee5.svg#Accent Graphic")
      format("svg");
  }

  @font-face {
      font-family: "Gotham";
      font-weight: 300;
      src: url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.eot");
      src: url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.eot?#iefix")
        format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.woff2")
        format("woff2"),
        url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.woff")
        format("woff"),
        url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.ttf")
        format("truetype"),
        url("//db.onlinewebfonts.com/t/fc74760c72164d5321ac886797ce62eb.svg#Gotham")
        format("svg");
    }

  @font-face {
    font-family: "Gotham";
    font-weight: 500;
    src: url("//db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.eot");
    src: url("//db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.eot?#iefix")
      format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.woff2")
      format("woff2"),
      url("//db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.woff")
      format("woff"),
      url("//db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.ttf")
      format("truetype"),
      url("//db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.svg#Gotham")
      format("svg");
  }


  body {
    font-family: 'Gotham';
    @apply bg-beige text-marcie;
  }

  p {
    @apply mb-2;
  }

  address {
    @apply not-italic block;
  }

  .fade-enter-active{
    @apply transition-all ease-in duration-300;
  }

  .fade-leave-active {
    @apply transition-all ease-in duration-0;
  }

  .fade-enter-to, .fade-leave {
    @apply opacity-100;
  }

  .fade-enter-from, .fade-leave-to {
    @apply opacity-0;
  }

}